<%include ../partials/header%>
<a href="./books/new">Book NEw</a>

<form action="/books" method="GET">
    <div class="form-group">
        <input type="search" name="search" placeholder="Campground search..." class="form-control">
        <input type="submit" value="Search" class="btn btn-default">
    </div>
</form>

<div class="container">
    <div class="row">
        <% list.forEach((book)=>{ %>
            <div class="col-md-4">
                <a href="books/<%=book._id%>"><h2><%=book.title%></h2></a>
                    <div class="caption">
                        <h3><%=book.author%></h3>
                        <p><%=book.genre%></p>
                    </div>
            </div>
        <% }) %>
    </div>
    <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/books/?page=1&search=<%=inquiry%>">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/books/?page=<%= i %>&search=<%=inquiry%>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/books/?page=<%= pages %>&search=<%=inquiry%>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
</div>

<%include ../partials/footer%>
