:<%include ../partials/header.ejs%>

<div class="container">
<a href="/books">To Books</a>
<a href="/books/<%=book._id%>/edit">EDIT</a>
<form action="/books/<%=book._id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE">
</form>
<br>
    <% for(let i=0;i<book.history.length;i++){%>
    <h5><%=book.history[i].start%> <b>to</b> <%=book.history[i].end%></h5>
    <%}%>
    <!--  Todo Do Proper Lending-->
    <!--  Todo Make note possible to lend if Dates Coincide-->
<br>
<h1>lending</h1>
<form action="/lending/<%=book._id%>" method="post">
    <input type="date" name="start" id="" min="<%= moment().format('YYYY-MM-DD'); %>">
    <input type="date" name="end" id="" min="<%= moment().format('YYYY-MM-DD'); %>">
    <input type="submit" value="Apply">
</form>


<a href="/lending/<%=book._id%>">Lend</a>
</div>
<%include ../partials/footer.ejs%>